<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Page</title>
	<style type="text/css">
		a{
			text-decoration:blink;
			font-family: fantasy;
			margin-right: 50px; 	
			text-decoration:overline;
		}
		a:hover{
			color:red;
			font-style: italic;
		}
	</style>
</head>
<body style="text-align:center;margin-top: 250px;background-image:url('https://th.bing.com/th/id/OIP.gfea1wGAefFiT7C0CC5hRgHaEK?rs=1&pid=ImgDetMain');">
<div>
	<a href="/student/form"  >Register New Students</a>
	<a href="/student/viewAll"> View All Available Students records</a>
	<a href="/student/find">Find a single user</a>
</div>
</body>
</html>